<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>All My Projects</title>
</head>

<body>
    <nav class="navbar nav-bar bg-light d-flex justify-content-center m-3">
        <a class="m-3" href="/">Home</a>
        <a class="m-3" href="projects">Projects</a>
        <a class="m-3" href="contact">Contact</a>
    </nav>
    <h1 class="text-center">My Projects</h1>
    <div>
        <div class="d-flex m-3">
            <img class="img" src="~/images/catch.jpg" alt="fish">
            <div class="m-3">
                <h3>Anglers Jounal</h3>
                <p> An App to track your catches and places they were caught</p>
            </div>
        </div>
        <div class="d-flex m-3">
            <img class="img" src="~/images/plant.jpg" alt="plant">
            <div class="m-3">
                <h3>House Plants Friend </h3>
                <p>Will help you keep track of your plants and care for them</p>
            </div>
        </div>
        <div class="d-flex m-3">
            <img class="img" src="~/images/Random.jpg" alt="Random">
            <div class="m-3">
                <h3>Just Some Random Project </h3>
                <p>A random fake project that has nothing to do with anything.</p>
            </div>
        </div>
    </div>
</body>

</html>